<header>
    <div id="close-menu-bg" class="overlay-black">
    </div>
    <div class="container">
        <div class="row mt-24 mb-16">
            <div class="col-xs-6 fluid-9-b"> <a href="/"> Jiraslides</a> </div>
            <div class="col-xs-6 text-right">
                {% if pagination.href.previous %}
                <a class="" href="{{ pagination.href.previous }}"><div class="btn btn-secondary">Anterior</div></a>
                {% endif %}
                {% if pagination.href.next %}
                <a class="" href="{{ pagination.href.next }}"> <div class="btn btn-secondary">  Siguiente  </div>    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>





<div class="cursor">
    <div class="cursor-inner">
    </div>
</div>
<!-- Contenedor Modal -->
<div id="miModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Falta contenido</p>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionamos todos los botones que tienen un ID que comienza con 'menu-'
        const menuButtons = document.querySelectorAll('button[id^="menu-"]');
        const closeButton = document.getElementById('close-menu'); // Botón para cerrar el menú
        const closeButtonbg = document.getElementById('close-menu-bg'); // Botón para cerrar el menú
        menuButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Obtenemos el ID del botón que fue clickeado
                const targetClass = this.id;
                // Revisamos si ya está aplicada la clase al body
                if (document.body.classList.contains(targetClass)) {
                    // Si la clase ya está, la removemos y también la clase 'menu-open'
                    document.body.classList.remove(targetClass, 'menu-open');
                } else {
                    // Removemos cualquier clase anterior que comience con 'menu-'
                    document.body.className = document.body.className.replace(/\bmenu-\d+\b/g, '');
                    // Añadimos la nueva clase al body
                    document.body.classList.add(targetClass, 'menu-open');
                }
            });
        });
        // Manejo del evento clic para el botón de cerrar
        closeButton.addEventListener('click', function () {
            // Removemos cualquier clase que comience con 'menu-' y la clase 'menu-open'
            document.body.className = document.body.className.replace(/\bmenu-\d+\b/g, '');
            document.body.classList.remove('menu-open');
        });
        closeButtonbg.addEventListener('click', function () {
            // Removemos cualquier clase que comience con 'menu-' y la clase 'menu-open'
            document.body.className = document.body.className.replace(/\bmenu-\d+\b/g, '');
            document.body.classList.remove('menu-open');
        });
    });
    // modal
    document.getElementsByClassName('close')[0].onclick = function () {
        document.getElementById('miModal').style.display = "none";
    }
    window.onclick = function (event) {
        var modal = document.getElementById('miModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>