---
layout: base.njk
permalink: /
---
<div class="container-2  mt-120">
  <h1 class="h1 mb-64"> Directorio de {{ jiras.grupo[0].nombre }}  </h1>


  <ul class=" list-clear ttc text-14-r">
    {% for idx in range(0, jiras.elementos | length) %}



    <li class="is-flex ">
      <a href="/jiras/{{jiras.elementos[idx].titular | slugify }}">
        <div>

          {{jiras.elementos[idx].titular }}
        </div>
      </a>
    </li>
    <hr>
    {% endfor %}


</div>